
@{
    ViewData["Title"] = "Ingreso";
    Layout = "~/Views/Shared/Ingreso.cshtml";
}

<div class="containerForm">
    <div>
        <label>Nombre de Usuario</label>
        <input type="text"/>
        <label>Constraseña</label>
        <input type="password"/>
        <button class="btn-Aceptar"><a href="@Url.Action("Index","Home")">Aceptar</a></button>
    </div>
</div>



