
@{
    ViewData["Title"] = "Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/tables.css"/>
<script src="~/js/compra.js" defer></script>
<nav class="navSec">
    <ul>
        <li class="navSec-button">
            <a>LISTAR</a>
        </li>
        <li class="navSec-button">
            <a>AGREGAR</a>
        </li>
    </ul>
</nav>
<div class ="content">
    <div class ="container" >
         <h1>Compras</h1>
        <table id="comprasTable">
            <thead>
                <tr>
                    <th># Compra</th>
                    <th>Fecha</th>
                    <th>Nombre de Producto</th>
                    <th>Cantidad</th>
                    <th># Usuario</th>
                    <th>Nombre de Usuario</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


