
@{
    ViewData["Title"] = "Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/compra.js" defer></script>
<script src="~/js/compra.js" defer></script>

<nav class="navSec">
    <ul>
        <li class="navSec-button">
            <a id="listarCompra">LISTAR</a>
        </li>
        <li class="navSec-button">
            <a>AGREGAR</a>
        </li>
    </ul>
</nav>
<div class ="content">
        <div id="containerForm" class="containerForm" style="align-items:center">
            <h1>Agregar Compra</h1>
            <div id ="registrarCompra">
                <label>Nombre de Usuario</label>
                <input id="nameRegistro" type="text" autocomplete="username"/>
                <label>Constraseña</label>
                <input id="passRegistro" type="password" autocomplete="current-password"/>
                <label>Repetir Constraseña</label>
                <input id="repetirPassRegistro" type="password" autocomplete="current-password"/>
                <div class="btn-container">
                    <button id="btn-CancelarRegistro" class="btn-Cancelar"><a>Cancelar</a></button>
                    <button id="btn-AceptarRegistro" class="btn-Aceptar"><a>Aceptar</a></button>
                </div>
            </div>
    </div>
     
</div>


