@{
    ViewData["Title"] = "Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/compra.js" defer></script>

<nav class="navSec">
    <ul>
        <li class="navSec-button">
            <a id="listarCompra">LISTAR</a>
        </li>
        <li class="navSec-button">
            <a id="agregarCompra">AGREGAR</a>
        </li>
    </ul>
</nav>
<div class ="content">
    <div id="containerFormCompra" class="containerForm" style="align-items:center">
        <h1>Compras</h1>
        <div id="containerCompra" class ="container" >
            <table id="comprasTable">
                <thead>
                    <tr>
                        <th># Compra</th>
                        <th>Fecha</th>
                        <th>Nombre de Producto</th>
                        <th>Cantidad</th>
                        <th># Usuario</th>
                        <th>Nombre de Usuario</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div id="containerFormAgregarCompra" class="containerForm" style="align-items:center">
            <h1>Agregar Compra</h1>
            <div id ="registrarCompra">
                <div class="primero-container">
                    <label>Usuario</label>
                    <select multiple id="IdUsuario">
                    </select>
                    <label>Fecha</label>
                    <input type="datetime-local" id="fecha"/>
                </div>
                <div class="segundo-container">
                    <label>Producto</label>
                    <select multiple id="NombreProducto">
                    </select>
                    <label>Cantidad</label>
                    <input id="cantidad" type="number" value="1"/>
                </div>
                <div class="btn-container">
                    <button id="btn-CancelarRegistro" class="btn-Cancelar"><a>Cancelar</a></button>
                    <button id="btn-AceptarRegistro" class="btn-Aceptar"><a>Aceptar</a></button>
                </div>
            </div>
    </div>
</div>    



