@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TortoiseGarden @ViewData["Title"]</title>
    <link rel="icon" href="../Media/TortoiseGARDEN_white-removebg-preview.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <style>

    </style>

</head>

<body>
    @RenderBody()
</body>

</html>
