
@{
    ViewData["Title"] = "Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navSec">
    <ul>
        <li class="navSec-button">
            <a>LISTAR</a>
        </li>
        <li class="navSec-button">
            <a>AGREGAR</a>
        </li>
    </ul>
</nav>
<div class ="content">VENTA</div>

